h1 {
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   font-size: 35px;
   color: darksalmon;
}
h2,
p,
li {
   font-family: Arial, Helvetica, sans-serif;
   color: dimgray;
   line-height: 1.5;
}
h2 {
   font-size: 20px;
}
a {
   color: green;
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}
img {
   border-radius: 10px;
   box-shadow: 4px 4px 10px #ccc;
}