/* 
Typography 

font-family: 'Fredericka the Great', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;

Colors

Dark green: #065902
Light green: #078C31
Yellow: #F2B705
Light red: #F03733
Dark red #D90404
Dark grey: #404040
Light gray: F7F7F7
*/

* {
   font-size: 16px;
}

h1,
h2,
h3 {
   font-family: "Fredericka the Great", cursive;
   text-align: center;
   text-transform: uppercase;
   color: #d90404;
}

h4,
h5,
h6 {
   font-family: "Pacifico", cursive;
   text-align: center;
   color: #f2b705;
}

h1 {
   font-size: 600%;
   font-weight: 200;
}

h2 {
   font-size: 300%;
   font-weight: 200;
}

p,
li,
a {
   font-family: "Open Sans", sans-serif;
}