/* 
img {
  max-width: 100%;
  display: block;
}

div {
  max-width: 200px;
}

.photo {
  max-width: 150px;
} 
*/

img {
  max-width: 100%;
  width: 600px;
  display: block;
}

body {
  background: lightblue;
}