/*
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;

LIGHT GREEN: #02734A
DARK GREEN: #025939
DARKER GREEN: #192606
DARK RED: #A62103
DARKER RED: #400D01
WHITE SILVER: #F2F2F2
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
	font-size: 16px;
}

h1,
h2,
h3 {
	font-family: "Poppins", sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #400d01;
}

h4,
h5,
h6 {
	font-family: "Poppins", sans-serif;
	/*text-align: center;*/
	text-align: left;
	color: #f2b705;
}

h1 {
	font-size: 400%;
	font-weight: 400;
}

h2 {
	font-size: 400%;
	font-weight: 200;
}

p,
li,
a {
	font-family: "Roboto", sans-serif;
}