/*
LIGHT GREEN: #02734A
DARK GREEN: #025939
DARKER GREEN: #192606
DARK RED: #A62103
DARKER RED: #400D01
WHITE SILVER: #F2F2F2
DARK YELLOW: #F2B705
*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/* Menu */
header {
	position: relative;
	background-image: linear-gradient(rgba(0, 0, 0, 10), rgba(0, 0, 0, 0)),
		url(../images/secao08-background-capa.jpg);
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100vh;
	border-top: 1px solid #025939;
	clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
}

header nav {
	width: 95%;
	height: 150px;
	margin: 10px auto;
}

header nav div#logo {
	float: left;
	background-image: url(../images/secao08-logo-pizzaria-fontenelle.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 200px;
	height: 200px;
}

header nav ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: left;
	margin-top: 65px;
	height: 40px;
}

header nav ul#side-left {
	float: left;
}

header nav ul#side-right {
	float: right;
}

header nav ul li {
	list-style: none;
}

header nav ul li a {
	color: #f2f2f2;
	text-decoration: none;
	padding: 10px 30px;
	border-radius: 30px;
	font-size: 95%;
}

header nav ul li a#register {
	border: 2px solid #f2f2f2;
	padding: 10px 30px;
}

header nav ul li a:hover {
	background-color: #a62103;
	transition-duration: 0.5s;
}

header nav ul ion-icon#user-icon {
	width: 30px;
	height: 30px;
	color: #f2f2f2;
	margin-top: -6px;
	margin-left: 20px;
}

header nav ul ion-icon#user-icon:hover {
	color: #a62103;
	cursor: pointer;
}

/* Section 1 */
header div#text-call {
	position: absolute;
	width: 100%;
	height: 300px;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Perfect Sunday Section */
section#perfect-sunday {
	width: 100%;
	padding: 30px 0 80px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

/* Perfect Sunday LEFT and RIGHT Section */
section#perfect-sunday div#perfect-sunday-left-side-section,
div#perfect-sunday-right-side-section {
	position: relative;
	width: 15%;
}

/* Perfect Sunday LEFT Section */
section#perfect-sunday div#perfect-sunday-left-side-section div.folha1 {
	position: absolute;
	top: 40px;
	left: 40px;
	width: 150px;
	height: 150px;
	background-image: url(../images/secao09-folha1.png);
	background-repeat: no-repeat;
}

section#perfect-sunday div#perfect-sunday-left-side-section div.camarao {
	position: absolute;
	top: 250px;
	left: 0;
	width: 150px;
	height: 150px;
	background-image: url(../images/secao09-camarao.jpg);
	background-repeat: no-repeat;
}

section#perfect-sunday div#perfect-sunday-left-side-section div.folha2 {
	position: absolute;
	top: 500px;
	left: 150px;
	width: 150px;
	height: 150px;
	background-image: url(../images/secao09-folha2.png);
	background-repeat: no-repeat;
}

/* Perfect Sunday CENTER Section */
section#perfect-sunday div#perfect-sunday-center-side-section {
	width: 65%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}

section div#master-key-point {
	width: 100%;
	margin-top: 40px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

section div.key-points {
	text-align: center;
	width: 25%;
}

section#perfect-sunday
	div#perfect-sunday-center-side-section
	div#master-key-point
	div.key-points
	ion-icon {
	width: 60px;
	height: 60px;
	color: #a62103;
	margin-bottom: -25px;
}

/* Perfect Sunday RIGHT Section */
section#perfect-sunday div#perfect-sunday-right-side-section div.folha3 {
	position: absolute;
	top: 100px;
	left: 20px;
	width: 160px;
	height: 150px;
	background-image: url(../images/secao09-folha3.png);
	background-repeat: no-repeat;
}

section#perfect-sunday div#perfect-sunday-right-side-section div.tomate {
	position: absolute;
	top: 300px;
	left: 100px;
	width: 160px;
	height: 150px;
	background-image: url(../images/secao09-tomate.png);
	background-repeat: no-repeat;
}

section#perfect-sunday div#perfect-sunday-right-side-section div.queijo {
	position: absolute;
	top: 600px;
	left: 10px;
	width: 160px;
	height: 150px;
	background-image: url(../images/secao09-queijo.jpg);
	background-repeat: no-repeat;
}